<!-- START  -->

<div class="row screen start">
	<div class="col s12 center-align middle-align">
		<img class="image" src="{{APP_SERVICE_PATH}}/images/welcome.jpg"/>

		<h1>Hola, soy Apretín</h1>
		<p>Soy la mascota de Apretaste, estoy acá para guiarte empezando a usar la app y ayudarte en lo que necesites.</p>

		<button class="waves-effect waves-teal btn-flat" onclick="apretaste.send({command: '<%= start %>'})">Saltar</button>
		<button class="btn waves-effect waves-light green" onclick="jumpTo('username')">Comenzar</button>
	</div>
</div>

<!-- USERNAME -->

<div class="row screen username hidden">
	<div class="col s12">
		<div class="speech-bubble">
			<div class="arrow"></div>
			Elige un nombre de usuario para que otros te mencionen dentro de la app. Ahora eres @<%= person.username %>, pero lo puedes cambiar.
		</div>
		<div class="person-avatar circle" face="apretin" color="verde" size="60"></div>
	</div>

	<div class="col s12">
		<div class="input-field">
			<i class="material-icons prefix grey-text text-darken-2">person</i>
			<input id="username" type="text" value="<%= person.username %>"/>
			<label for="username">Nombre de usuario</label>
		</div>
	</div>
	
	<div class="col s12">
		<button class="waves-effect waves-teal btn-flat" onclick="jumpTo('province')">Saltar</button>
		<button class="btn waves-effect waves-light green" onclick="changeUsername()">Cambiar</button>
	</div>
</div>

<!-- PROVINCE -->

<div class="row screen province hidden">
	<div class="col s12">
		<div class="speech-bubble">
			<div class="arrow"></div>
			Escoge una provincia, así puedo conectarte con otros usuarios cercanos a tí.
		</div>
		<div class="person-avatar circle" face="apretin" color="verde" size="60"></div>
	</div>

	<div class="col s12">
		<div class="checks province" limit="1">
			<span value="" class="check chip spacing">Vivo fuera de Cuba</span>
			<span value="PINAR_DEL_RIO" class="check chip spacing">Pinar del Río</span>
			<span value="LA_HABANA" class="check chip spacing">La Habana</span>
			<span value="ARTEMISA" class="check chip spacing">Artemisa</span>
			<span value="MAYABEQUE" class="check chip spacing">Mayabeque</span>
			<span value="MATANZAS" class="check chip spacing">Matanzas</span>
			<span value="VILLA_CLARA" class="check chip spacing">Villa Clara</span>
			<span value="CIENFUEGOS" class="check chip spacing">Cienfuegos</span>
			<span value="SANCTI_SPIRITUS" class="check chip spacing">Sancti Spiritus</span>
			<span value="CIEGO_DE_AVILA" class="check chip spacing">Ciego de Ávila</span>
			<span value="CAMAGUEY" class="check chip spacing">Camagüey</span>
			<span value="LAS_TUNAS" class="check chip spacing">Las Tunas</span>
			<span value="HOLGUIN" class="check chip spacing">Holguín</span>
			<span value="GRANMA" class="check chip spacing">Granma</span>
			<span value="SANTIAGO_DE_CUBA" class="check chip spacing">Santiago de Cuba</span>
			<span value="GUANTANAMO" class="check chip spacing">Guantánamo</span>
			<span value="ISLA_DE_LA_JUVENTUD" class="check chip spacing">Isla de la Juventud</span>
		</div>
	</div>

	<div class="col s12">
		<button class="waves-effect waves-teal btn-flat" onclick="jumpTo('username')">Atrás</button>
		<button class="btn waves-effect waves-light green" onclick="changeProvince()">Continuar</button>
	</div>
</div>

<!-- GENDER -->

<div class="row screen gender hidden">
	<div class="col s12">
		<div class="speech-bubble">
			<div class="arrow"></div>
			¿Cuál es tu género? Así puedo conectarte con otros usuarios cercanos a tí.
		</div>
		<div class="person-avatar circle" face="apretin" color="verde" size="60"></div>
	</div>

	<div class="col s12">
		<div class="checks gender" limit="1">
			<span value="M" class="check chip spacing">Masculino</span>
			<span value="F" class="check chip spacing">Femenino</span>
			<span value="" class="check chip spacing">Prefiero no decir</span>
		</div>
	</div>

	<div class="col s12">
		<button class="waves-effect waves-teal btn-flat" onclick="jumpTo('province')">Atrás</button>
		<button class="btn waves-effect waves-light green" onclick="changeGender()">Continuar</button>
	</div>
</div>

<!-- AVATAR -->

<div class="row screen avatar hidden">
	<div class="col s12">
		<div class="speech-bubble">
			<div class="arrow"></div>
			Escoge un color y un avatar que representen. Siempre puedes cambiarlos desde tu perfil.
		</div>
		<div class="person-avatar circle" face="apretin" color="verde" size="60"></div>
	</div>

	<div class="col s12">
		<div class="checks avatar-color" limit="1" onclick="changeAvatarColor()">
			<span value="azul" class="check chip spacing"><span class="color azul"></span> Azul</span>
			<span value="verde" class="check chip spacing"><span class="color verde"></span> Verde</span>
			<span value="rojo" class="check chip spacing"><span class="color rojo"></span> Rojo</span>
			<span value="morado" class="check chip spacing"><span class="color morado"></span> Morado</span>
			<span value="naranja" class="check chip spacing"><span class="color naranja"></span> Naranja</span>
			<span value="amarillo" class="check chip spacing"><span class="color amarillo"></span> Amarillo</span>
		</div>
	</div>

	<div class="col s12">
		<ul class="collection profile">
			<li class="collection-item avatar">
				<div id="avatar" class="person-avatar circle" face="<%= person.avatar %>" color="<%= person.avatarColor %>" size="45"></div>
				<span id="avatar-username" class="title">@<%= person.username %></span>
				<p>Escoge tu avatar</p>
				<a href="#avatarModal" class="secondary-content green-text modal-trigger"><i class="material-icons">edit</i></a>
			</li>
		</ul>
	</div>

	<div class="col s12">
		<button class="waves-effect waves-teal btn-flat" onclick="jumpTo('gender')">Atrás</button>
		<button class="btn waves-effect waves-light green" onclick="submitData()">Continuar</button>
	</div>
</div>

<!-- AVATAR MODAL -->

<div id="avatarModal" class="modal bottom-sheet fullscreen">
	<div class="modal-content">
		<% avatars.forEach(function (item) { %>
			<div class="person-avatar circle avatar-item modal-close" face="<%= item %>" color="" size="40" onclick="changeAvatarFace(this)"></div>
		<% }) %>
	</div>
</div>
